.main-container {
    min-height: 100vh;
    min-height: 100dvh;
    
    width: 70rem;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-top: 1rem;

    display: grid;
    grid-template-rows:
        auto
        auto
        1fr
        auto;
    gap: 2rem;
}

.main-container:has(h2){
    text-align: center;
}