header {
    --skew-angle: -5deg;
    --background: 
    linear-gradient(
        to right,
        #00F0B5,
        #d0f4de,
        #f2f2f2
    );
    color: black;

    position: relative;
    isolation: isolate;
}

header::after{
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    border-radius: 0 6.25rem 0;
}